# This is the master file for your local development environment.
services:
  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - DATABASE_URL=postgres://sentinel:password@db:5432/sentinel?sslmode=disable
    depends_on:
      - db
    # This corrected command first changes into the 'src' directory, then runs the app.
    

  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      # This prevents the local node_modules from overwriting the container's
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=sentinel
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=sentinel
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:

